<htlm>

	<head>
		
		
        <link rel="stylesheet" href="./css/style.css">
	</head>

	<body>
			<div class = "banner" > 

				<div class="app-text"> 
						<h1> D-CLIC <br> Venez coder le serveur avec nous </h1>
						<p>Ici on étudie la gestion des bases de données <br> la logique de l’application,  <br> les API etc…, </p>
						<div class="play-btn"> 
							<div class="play-btn-inner"> 
								
							</div>
						</div>
				</div>

				<div class="app-picture-backend" >
					<img src="./image/image_backend.jpg">

				</div>

				<body>
		
					<div class="flip-box">
					  <div class="flip-box-inner">
						<div class="flip-box-front">
						  <h2>Avis des utilisateurs sur le frontend</h2>
						  <% back.slice(0, 2).forEach(el=>{ %> 
							<div class="box-avis">
							  
							<p>
							  <%= el.testimony %> <br>
							  <span>- <%= el.firstName %> <br>
								  note: <%= el.note %></span>
							</p>
							
							</div>
						  <% }) %>
						</div>
						<div class="flip-box-back">
						  <h2>Suite</h2>
						  <% back.slice(-2).forEach(el=>{ %> 
							<div class="box-avis box-back-avis">
							  <p class="myNotes">
								<%= el.testimony %> <br>
								<span>- <%= el.firstName %> <br>
									note: <%= el.note %></span>
								</p>
							</div>
							<% }) %> 
						</div>
					  </div>
					</div>
					
					</body>
					






			</div>
		</div>

	</body>

</html>
